/*
 * Quiz: Project Update Part 2/3
 * File: RWDF_L4_start
 * Lesson 4: Common Responsive Patterns
 */

 /*
  * Objectives:
  * 1. Pick a set of breakpoints and use one of the patterns that you
  *    learned to style the page so that it works across different devices.
  * 2. Test on multiple phones, tablets and browser window sizes
  *    and adjust your breakpoints until you're happy.
  */

.content {
  display: flex;
  flex-wrap: wrap;
}
.header__menu {
	display: none;
}

@media screen and (max-width: 554px) {
 	.header__logo {
 		height: 48px;
 		margin-bottom: 1em;
	}
 	.header__title {
	  font-size: 2em;
  	vertical-align: bottom;
	}
	.nav {
		z-index: 20;
		width: 300px;
		background-color: #fff;
		position: absolute;
		/* moves nav off the screen */
		-webkit-transform: translate(-300px, 0);
		transform: translate(-300px, 0);
		/* animates in nicely */
		transition: transform 0.3s ease;
	}
	.nav.open {
	  -webkit-transform: translate(0, 0);
	 	transform: translate(0, 0);
	}
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
	.header__menu {
  	display: inline-block;
  	position: absolute;
  	right: 0;
  	padding: 1em;
	}
	.header__menu img {
		width: 42px;
		height: 42px;
	}
	.scores, .weather, .top-news {
		width: 100%;
	}
}

@media screen and (min-width: 450px) {
	.weather {
		margin: 0 auto;
	}
	.weather__today__temp,
	.weather__today_deg {
		font-size: 2em;
	}
	.weather__next__image {
		width: 80%;
		height: 80%;
	}
}
@media screen and (min-width: 555px) {
 	.hero {
 		width: 60%;
 		order: -1;
 	}
 	.description h2 {
		font-size: 1.3em;
	}
 	.weather {
 		width: 40%;
 		order: 0;
 	}
 	.weather__today__image {
 		width: 50%;
 	}
	.weather__today__temp,
	.weather__today__deg {
  	font-size: 1.6em;
	}
 	.top-news {
 		width: 100%;
 		order: 1;
 	}
 	.scores {
 		width: 100%;
 		order: 2;
 	}
 	.recent-news {
 		order: 3;
 	}
}

@media screen and (min-width: 700px) {
 	.hero {
 		width: 50%;
 		order: -1;
 	}
 	.weather {
 		width: 50%;
 		order: 0;
 	}
 	.weather__today__temp,
	.weather__today__deg {
  	font-size: 2em;
	}
 	.top-news {
 		width: 50%;
 		order: 2;
 	}
 	.scores {
 		width: 50%;
 		order: 3;
 	}
 	.post-summary {
 		display: grid;
 		grid-template-columns: repeat(2, 1fr);
 		grid-gap: 5%;
 	}
}

@media screen and (min-width: 850px) {
 	.header, .nav, main {
		width: 850px;
		margin: 0 auto;
	}
 	.weather {
 		width: 50%;
 		order: 2;
 	}
 	.top-news {
 		width: 50%;
 		order: 0;
 	}
 	.scores {
 		width: 50%;
 		order: 3;
 	}
}